@font-face {
font-family: "Avenir";
src: url("css/fonts/AvenirLTStd-Medium.otf");
}

body {
  margin: 40px 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #151515;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

p {
  line-height: 1.5em;
}

h1 + p, p + p {
  margin-top: 10px;
}

.content {
  font-family: 'AvenirLTStd-Medium', 'Lato' sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 30px 70px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.para-content {
  font-family: 'AvenirLTStd-Medium', 'Lato' sans-serif;
  font-size: 18px;
  color: #bfbfbf;
  padding: 30px 70px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer {
  font-family: 'AvenirLTStd-Medium', 'Lato' sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container {
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.card-wrap {
  margin: 10px;
  -webkit-transform: perspective(900px);
          transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
}
.card-wrap:hover .card {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  /* SAFARI FIX IN THIS LINE - SECOND RGBA (A) VALUE CHANGED TO ZERO */ 
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 40px 5px, white 0 0 0 0.65px, rgba(0, 0, 0, 0) 0 30px 60px 0, inset #333 0 0 0 0px, inset white 0 0 0 0px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 354px;
  height: 199px;
  background-color: #333;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0) 0 30px 60px 0, inset #333 0 0 0 10px, inset rgba(255, 255, 255, 0) 0 0 0 6px;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 1;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 0.5s 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding-left: 15px;
  padding-bottom: : 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  transition: 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  font-family: 'AvenirLTStd-Medium', 'Lato' sans-serif;
  opacity: 0;
  text-shadow: black 0 0px 0px;
  transition: 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 800%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: 0.5s 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info h1 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}
